.contact {
  width: 100%;
  height: 90vh;
  background-color: #f2cf8e;
  display: flex;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.contact .leftSide {
  height: 100%;
  flex: 50%;
  background-size: cover;
}

.contact .rightSide {
  height: 100%;
  flex: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.contact .rightSide h1 {
  font-weight: 10;
  font-size: 50px;
  margin-left: 30px;
  color: #ca1e06;
}
.contact h1 {
  margin-top: 100px;
}
form {
  display: flex;
  flex-direction: column;
  padding: 30px;
}

form input {
  height: 40px;
  width: 80%;
  border: none;
  color: #121619;
}

form textarea {
  margin-top: 15px;
  height: 70px;
  width: 80%;
  border: none;
}

form label {
  margin-top: 15px;
}

form button {
  margin-top: 40px;
  width: 140px;
  height: 40px;
  border: none;
  background-color: #ca1e06;
  color: whitesmoke;
  font-size: 15px;
  cursor: pointer;
  border-radius: 2px;
}

@media (max-width: 768px) {
  h1 {
    margin-top: 350px;
  }
  .rightSide {
    margin-left: 0;
  }
  form {
    padding: 10px;
  }
  form button {
    margin: 20px;
    margin-bottom: 40px;
  }
  .contact .rightSide h1 {
    margin-left: 10px;
  }
}
